.jumbotron {
    background-color: blueviolet;
    opacity: .6;
    color: #ffffff;
}

.card-hotel-colombia {
    flex: 1 150px;
    padding: 2px 5px 2px 2px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: blueviolet;
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
}

.footer a {
    color: #ffffff;
    font-weight: 700;
}